
a.list-group-item h4.pub-title{
  font-weight:bold;
  color: #428bca;
}

.jumbotron{
  padding-top: 48px;
  background: url(/tex/skulls.png)  repeat 0 0;

  background:
  -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.1) 100%),
  url(/tex/skulls.png)  repeat 0 0;
  background:
  -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.1) 100%),
  url(/tex/skulls.png)  repeat 0 0;
  background:
  -moz-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.1) 100%),
  url(/tex/skulls.png)  repeat 0 0;
  background:
  linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.1) 100%),
  url(/tex/skulls.png)  repeat 0 0;
}

.jumbotron h1{
  font-size: 52px;
  margin-bottom: 18px;
  font-weight: normal;
}

.jumbotron, .navbar{
  font-family: 'Raleway', sans-serif;
}

body{
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  /*line-height: 25px;*/
}

figure, figcaption{
	background:#eee;
}
figure{
	max-width:100%;
	display: block;
	padding:10px;
	margin: 20px;
}
figcaption{
  caption-side:bottom;
  text-align: center;
  font-style:italic;
  font-size: 12px;
  color:#888;

  padding:10px 0 0 0;
  margin:0;
}

.container-limit{
  margin-right: auto;
  margin-left: auto;
  max-width: 950px
}
