
#post-container{
    font-size: 18px;
}

figcaption{
    font-size: 18px;
    color: #000;
    font-weight:bold;
    font-style:normal;
}
figcaption small{
    color: #888;
    font-weight:normal;
}

[lang="en-x-mtfrom-ja"] img.ssec{
	visibility: hidden;
}
