---
---

$brandPrimary: #7d39b6;
$brandBright: #6400bd;
$brandLight:  #cfa7ff;
$brandDark: #3f2b52;
$themeGradient: linear-gradient(0.25turn, $brandDark, $brandDark, $brandPrimary);


@mixin darkness {
  body {
    background: #333 repeat url("/tex/low_contrast_linen.png");
    font-family: "UD デジタル 教科書体 N-R", "BIZ UDゴシック Regular", "Hiragino Kaku Gothic ProN", sans-serif;
    color: #eee;
  }

  a {
    color: $brandLight;
  }
  .container {
    background: #222;
    border: none;
  }
  input, textarea {
    background: black;
    color: white;
  }
}

@media (prefers-color-scheme: dark)  {
  :root:not([data-theme="light"]):not([data-theme="classical"]) {
    @include darkness;
  }
}
:root[data-theme="dark"] {
  @include darkness;
}

body {
  background: repeat url("/tex/asanoha-400px.png");
  font-family: "UD デジタル 教科書体 N-R", "BIZ UDゴシック Regular", "Hiragino Kaku Gothic ProN", sans-serif;
  color: #000000e8;
}

.container {
  box-sizing: border-box;
  padding: 30px 30px;
  background: white;
  max-width: 1080px;
  margin: 0 auto;
  border-radius: 0 0 25px 25px;
  border: 1px solid #888;
  box-shadow: 0px 5px 20px #0006;
}

nav, nav.container {
  background: $themeGradient !important;
  display: flex;
  flex-direction: row;
  padding: 0;
  border: none;
  border-radius: 10px 25px 0 0;
  z-index: 9;
  position: relative;

  a, summary {
    display: inline-block;
    padding: 4px 10px;
    cursor: pointer;
    text-decoration: none;
    color: $brandLight;
  }
  a:hover, summary:hover {
    background: #000000;
    color: #ffff;
    text-decoration: none;
  }
  > ul > li:first-child > a {
    border-radius: 10px 0 0 0;
  }
  details ul li {
    a {
      border-radius: 0 0 0 0;
    }
    &:first-child a{
      border-radius: 0 0 0 10px;
    }
    &:last-child a{
      border-radius: 0 0 10px 0;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin:0;
  }
  li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

.switcher {
  display: inline-block;
  padding:  3px 10px;
  border: 2px dotted #888a;
  border-radius: 5px;
  float: right;
  a {
    color: $brandLight;
  }
}

hgroup {
  h1 {
    font-size: 1.8rem;
    margin: 0;
    margin-top:10px;
  }
  h2 {
    font-size: 1rem;
    border: none;
    font-weight: normal;
    margin-top: 0
  }
  border-bottom: 5px solid $brandPrimary;
  background: $brandDark;
  margin: 0;
  padding: 10px 30px;
  margin: 0px -30px;
  margin-top: -30px;
  z-index: 10;
  color: white;
}

h2 {
  margin-bottom: 5px;
  padding-bottom: 0;
}

h3 {
  margin-left: 0px;
  padding-bottom: 0;
  margin-bottom: 0;
}

a {
  color: $brandPrimary;
  text-decoration: none;
  &:hover {
    color: $brandBright;
    text-decoration: underline;
  }
}

ul {
  margin-top: 0;
}

ul.listbox {
  padding: 0;
  border: 1px solid #aaa;
  border-radius: 10px;
  overflow: clip;
  margin-left: 10px;
  li {
    list-style-type: none;
    padding: 0;
    &:last-child a{
      border: none;
    }
    a {
      padding-left: 30px;
      display: block;
      border-bottom: 1px solid #eee;
      &:hover {
        background: #6400bd;
        color: white;
        text-decoration: none;
      }
    }
  }
}

ul.posts {
  li {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: left;
    list-style-type: none;
    padding: 5px 0;
    img {
      padding-right: 10px;
      padding-top: 2px;
      flex-grow: 0;
      display: block;
      object-fit: cover;
      width: 32px;
      height: 32px;
      image-rendering: pixelated;
    }
    a {
      font-weight: 600;
    }
    .date {
      opacity: 0.5;
      margin-right: 10px;
      min-width: 80px;
      font-size: 0.8rem;
      font-family: monospace;
    }
    .subtitle {
      opacity: 0.9;
    }
  }
}

ul[role="listbox"] {
  background: linear-gradient(0.25turn, #3f2b52, #3f2b52, #7d39b6);
  position: absolute;
  z-index: 11;
  box-shadow: 0px 5px 20px #0008;
  border-radius: 0 0 15px 15px;
}

form {
  label, input, textarea {
    display: block;
  }
  input, textarea {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid  #3f2b52;
    padding: 10px;
    font-size: 1rem;
    box-sizing: border-box;
    outline: none;

    &:focus {
      border: 2px solid #7d39b6;
      padding: 9px 10px;
    }
  }
  button {
    font-size: 1rem;
    background: linear-gradient(0.0turn, #3f2b52, #3f2b52, #7d39b6);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
      background: linear-gradient(0.5turn, #3f2b52, #3f2b52, #7d39b6);
    }
  }
}


img.favicon {
  image-rendering: pixelated;
  transform: translateY(4px);
}

#theme_switcher {
  width: 11px;
}

div.highlight {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #8884;
}

hr {
  clear: both;
  height: 2px;
  border: none;
  background: linear-gradient(0.25turn, #3f2b52, #3f2b52, #7d39b6);
}

table {
  margin: 40px 0;
  border-collapse: collapse;
  font-size: 0.8rem;
  width: 100%;
  tr {
    td, th {
      border-bottom: 1px solid #888;
      padding: 3px 10px;
      //&.linkcell {
      //  padding: 0;
      //  a {
      //    background: $brandPrimary;
      //    padding: 3px 10px;
      //    margin: 0;
      //    height: 100%;
      //    display: block;
      //    color: white !important;
      //    &:hover {
      //      color: white !important;
      //      background: $brandBright;
      //      text-decoration: none;
      //    }
      //  }
      //}
    }
    th {
      text-align: left;
      border-width: 4px;
    }
    &:hover td {
        background: #8882;
    }
  }
}
