<h2>
  {% if page.lang == "jp" %}
    研究発表
  {% else %}
    Publications
  {% endif %}
</h2>
<p>
  <a href="http://www.nature.com/ncomms/2015/150317/ncomms7575/full/ncomms7575.html">
    <strong>
      "Impedance Sensing Device Enables Early Detection of Pressure Ulcers in Vivo"
    </strong>    
  </a>
  <small>
    {% if page.lang == "jp" %}１７日３月<br/>２０１５年{% else %}17 Mar. 2015{% endif %}
  </small>
  Nature Communications 6, Article number: 6575
  <small>
    Monica Lin, Amy Liao, Elisabeth Leeflang, Yasser Khan, Felippe Pavinatto, Kaylee Mann, Agne Naujokas, David Young, Shuvo Roy, Michael Harrison, Ana Claudia Arias, Vivek Subramanian, Michel M. Maharbiz
  </small>
</p>
<p>
  <a href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=6943923&isnumber=6943513">
  <strong>
    "A Wearable Wireless Platform for Visually Stimulating Small Flying Insects"
  </strong>
  </a>
  <small>
    {% if page.lang == "jp" %}３０日８月<br/>２０１４年{% else %}30 Aug. 2014{% endif %}
  </small>
  Engineering in Medicine and Biology Society (EMBC), 2014 36th Annual International Conference (Podium Presentation)
  <small>
    Kaylee Mann, Travis Massey, Sudip Guha, Joshua van Kleef, Michel M. Maharbiz;
  </small>
</p>
<p>
  <a href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=7319546&isnumber=7318236">
    <strong>
      "Impedance Sensing Device for Monitoring Ulcer Healing in Human Patients"
    </strong>
  </a>
  <small>
    {% if page.lang == "jp" %}２０１５年{% else %}2015{% endif %}
  </small>
  Engineering in Medicine and Biology Society (EMBC), 2015 37th Annual International Conference
  <small>
    Amy Liao, Monica Lin, Lauren Ritz, Sarah Swisher, David Ni, Kaylee Mann, Shuvo Roy, Michael Harrison, Ana Arias, Vivek Subramanian, David Young, Michel Maharbiz
  </small>
</p>
<p>
  <a href="http://dx.doi.org/10.1002/adfm.201503316">
    <strong>
      "Inkjet-Printed Flexible Gold Electrode Arrays for Bioelectronic Interfaces"
    </strong>
  </a>
  <small>
    {% if page.lang == "jp" %}１０日１２月<br/>２０１５年{% else %}10 Dec. 2015{% endif %}
  </small>
  Advanced Functional Materials. (Cover Picture)
  <small>
    Yasser Khan, Felippe J. Pavinatto, Monica Lin, Amy Liao, Sarah L. Swisher, Kaylee Mann, Vivek Subramanian, Michel M. Maharbiz, Ana C. Arias.
  </small>
</p>