    <h2>Publications</h2>
    <div class="list-group">
      <a href="http://www.nature.com/ncomms/2015/150317/ncomms7575/full/ncomms7575.html" class="list-group-item">
        <h4 class="list-group-item-heading pub-title">
          "Impedance Sensing Device Enables Early Detection of Pressure Ulcers in Vivo"
          <small>17 Mar. 2015</small>
        </h4>
        <p class="list-group-item-text">
          Nature Communications 6, Article number: 6575 
        </p>
        <p class="list-group-item-text small">
          <i>Monica Lin, Amy Liao, Elisabeth Leeflang, Yasser Khan, Felippe Pavinatto, Kaylee Mann, Agne Naujokas, David Young, Shuvo Roy, Michael Harrison, Ana Claudia Arias, Vivek Subramanian, Michel M. Maharbiz</i>
        </p>
      </a>
      <a href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=6943923&isnumber=6943513" class="list-group-item">
        <h4 class="list-group-item-heading pub-title">
          "A Wearable Wireless Platform for Visually Stimulating Small Flying Insects" <small>30 Aug. 2014</small>
        </h4>
        <p class="list-group-item-text">
          Engineering in Medicine and Biology Society (EMBC), 2014 36th Annual International Conference (Podium Presentation)
        </p>
        <p class="list-group-item-text small">
          <i>
            Kaylee Mann, Travis Massey, Sudip Guha, Joshua van Kleef, Michel M. Maharbiz;
          </i>
        </p>
      </a>
    </div>
