---
layout: default
---


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="main-jumbo">
  <div class="container">
    <h1 style="font-size:30px;">{{page.title}}</h1>
    <p>{{page.summary}}<span style="float:right;opacity:0.5;">
        {% if page.lang == "jp" %}
            {{ page.date | date: "%Y年%-m月%-d日" }}
        {% else %}
            {{ page.date | date_to_string }}
        {% endif %}
    </span></p>
  </div>
</div>

<div class="container">
  <p style="font-weight:bold;">
    <a href="{% if page.lang == "jp" %}/jp{% endif %}/posts.html" class="btn-primary">
      &laquo; {% if page.lang == "jp" %}ブログに帰る{% else %}Back to Posts{% endif %}
    </a>
  </p>
</div>

<div class="container">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- top post -->
  <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-9272561114330078"
    data-ad-slot="8350704609"
    data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<div class="container" id="post-container">
  {{ content }}
  <br/>
  <hr/>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- bottom page -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-9272561114330078"
       data-ad-slot="7775989531"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <hr/>
  <!-- AddToAny BEGIN -->
  <div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="padding-top:20px;padding-bottom:20px;">
    <a class="a2a_dd" href="http://www.addtoany.com/share_save?linkurl=www.kayleemann.com&amp;linkname=Kaylee"></a>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_button_reddit"></a>
    <a class="a2a_button_wordpress"></a>
    <a class="a2a_button_tumblr"></a>
    <a class="a2a_button_pinterest"></a>
  </div>
  <script type="text/javascript">
    var a2a_config = a2a_config || {};
    a2a_config.linkname = "Kaylee";
    a2a_config.linkurl = "www.kayleemann.com";
  </script>
  <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
  <!-- AddToAny END -->
</div>
<div class=container>
	<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'kayleemann'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
